<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block html_title %}Bootcamp{% endblock %}</title>
    <link rel='shortcut icon' href='/static/favicon.ico' type='image/x-icon'/>
    <link href="/static/lib/semantic.min.css" rel="stylesheet" crossorigin="anonymous"/>
    <link href="/static/bootcamp.css" rel="stylesheet" crossorigin="anonymous"/>

</head>
<body>

<div class="ui tablet only computer only menu grid">
    <div class="ui container ">
        <a class="item" href="/index.html">
            <i class="home icon"></i> Home
        </a>

        {% for name, url in context.navbar %}
            <a class="mobile only item" href="{{ url }}">
                <i class="calendar icon"></i> {{ name }}
            </a>
        {% endfor %}

        <div class="right menu">
            <a class="item" href="/information.html">
                <i class="info circle icon"></i> Info
            </a>
        </div>

    </div>
</div>

<div class="ui mobile only menu grid">
    <div class="ui container ">
        <a class="item" href="/index.html">
            <i class="home icon"></i> Home
        </a>
    </div>
</div>

<div class="ui container">
    {% block body %}
        BODY
    {% endblock %}
</div>

<p class="ui container">
    {% block footer %}

        <h4 class="ui horizontal divider header">
            <i class="github icon"></i>
        </h4>

        <div class="ui center aligned container">
            Penn State: 2016 &bull; Github: <a href="https://github.com/biostars/bootcamp-central">bootcamp-central</a>
        </div>

    {% endblock %}
</p>

</body>
</html>
