<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block html_title %}Bootcamp{% endblock %}</title>
    <link rel='shortcut icon' href='/static/favicon.ico' type='image/x-icon'/>
    <link href="/static/lib/semantic.min.css" rel="stylesheet" crossorigin="anonymous"/>
    <link href="/static/bootcamp.css" rel="stylesheet" crossorigin="anonymous"/>

</head>
<body>

<div class="ui tablet only computer only menu grid">
    <div class="ui container ">
        <a class="item" href="/index.html">
            <i class="home icon"></i> Home
        </a>

        {% for name, url in context.navbar %}
            <a class="mobile only item" href="{{ url }}">
                <i class="calendar outline icon"></i> {{ name }}
            </a>
        {% endfor %}

        <div class="right menu">
            <a class="item" href="/about.html">
                <i class="info circle icon"></i> About
            </a>
        </div>

    </div>
</div>

<div class="ui mobile only menu grid">
    <div class="ui container ">
        <a class="item" href="/index.html">
            <i class="home icon"></i> Home
        </a>
    </div>
</div>

<div class="ui container">
    {% block body %}
        BODY
    {% endblock %}
</div>

<div class="ui container">
    {% block footer %}
        footer
    {% endblock %}
</div>

</body>
</html>
