{% extends "base.html" %}

{% block body %}

    <h1 class="ui center aligned icon header">
        <i class="settings icon"></i>
        PSU Bootcamp on Reproducible Research
    </h1>

    <h3 class="ui center aligned header">June 6-10, 2016</h3>

    <div class="ui segments">

        <div class="ui segment">
            <h3 class="ui header">{% link 'day1_schedule.html' %}</h3>
            <p>Introductions.</p>
            <p>Presentations by faculty: Ross Hardison, Qunhua Li, George Perry, James Broach</p>
        </div>

        <div class="ui segment">
            <h3 class="ui header">{% link 'day2_schedule.html' %} </h3>
            <p>Git, Markdown, Python</p>
        </div>

        <div class="ui segment">
            <h3 class="ui header">{% link 'day3_schedule.html' %}</h3>
            <p></p>
        </div>

        <div class="ui segment">
            <h3 class="ui header">{% link 'day4_schedule.html' %}</h3>
            <p></p>
        </div>

        <div class="ui segment">
            <h3 class="ui header">{% link 'day5_schedule.html' %}</h3>
            <p></p>
        </div>

        <div class="ui segment">
            <h3 class="ui header">{% link 'information.html' %}</h3>
            <p>Course location, hours, requirements</p>


        </div>

    </div>


{% endblock %}
