{%  extends "base.html" %}

{%  block body %}
<h1 class="title ui center aligned header">
    <i class="settings icon"></i>

    PSU Bootcamp on Reproducible Research
</h1>

<h3 class="ui center aligned header">June 6-10, 2016</h3>

<div class="ui container">
    <div class="ui segments">

        <div class="ui segment">
            <h3 class="ui header">Day 1: Introductions</h3>
            {% include_markdown "day1_schedule.md" %}
        </div>

        <div class="ui segment">
            <h3 class="ui header">Day 2; Software Carpentry</h3>
            Content
        </div>

        <div class="ui segment">
            <h3 class="ui header">Day 3: Statistical Analysis</h3>
            Content
        </div>

        <div class="ui segment">
            <h3 class="ui header">Day 4: Galaxy</h3>
            Content
        </div>

        <div class="ui segment" Q>
            <h3 class="ui header">Day 5</h3>
            Content
        </div>

    </div>
</div>



{%  endblock %}
