{% extends "base.html" %}

{% block body %}

    <div class="ui mobile only one column grid">
        <h1 class="ui center aligned icon header">
            PSU Bootcamp on Reproducible Research
        </h1>
    </div>

    <div class="ui tablet only computer only one column grid">
        <h1 class="ui center aligned icon header">
            <img class="ui tiny middle aligned image" src="/static/img/psu-logo.png">
            PSU Bootcamp on Reproducible Research
        </h1>
    </div>


    <h3 class="ui center aligned header">June 6-10, 2016</h3>

    <div class="ui segments">

        <div class="ui segment">
            <h3 class="ui header">{% link 'day1_index.html' %}</h3>

            <p>Presentations by</p>
            <ul>
                <li>
                    <img class="ui avatar image"
                         src="/static/img/cooduvalli-shashikant.jpg">
                    <span>Dr. Cooduvali Shashikant</span>
                </li>
                <li>
                    <img class="ui avatar image" src="/static/img/ross-hardison.jpg">
                    <span>Dr. Ross Hardison</span>
                </li>
                <li>
                    <img class="ui avatar image" src="/static/img/qunhua-li.jpg">
                    <span>Dr. Qunhua Li</span>
                </li>
                <li>
                    <img class="ui avatar image" src="/static/img/james-broach.jpg">
                    <span>Dr. James Broach</span>
                </li>
                <li>
                    <img class="ui avatar image" src="/static/img/george-perry.jpg">
                    <span>Dr. George Perry</span>
                </li>
            </ul>

        </div>

        <div class="ui segment">
            <h3 class="ui header">{% link 'day2_index.html' %}</h3>

            <p>The basics of computational reproducibility: version control,
                documentation, automation</p>

            <p>Instructor:</p>
            <ul>
                <li>
                    <img class="ui avatar image" src="/static/img/istvan-albert.jpg">
                    <span>Dr. Istvan Albert</span>
                </li>
            </ul>

        </div>

        <div class="ui segment">
            <h3 class="ui header">{% link 'day3_index.html' %}</h3>

            <p></p>

            <p>Instructor:</p>
            <ul>
                <li>
                    <img class="ui avatar image" src="/static/img/naomi-altman.jpg">
                    <span>Dr. Naomi Altman</span>
                </li>
            </ul>

        </div>

        <div class="ui segment">
            <h3 class="ui header">{% link 'day4_index.html' %}</h3>

            <p></p>

            <p>Instructor:</p>
            <ul>
                <li>
                    <img class="ui avatar image" src="/static/img/anton-nekrutenko.jpg">
                    <span>Dr. Anton Nekrutenko</span>
                </li>
            </ul>

        </div>

        <div class="ui segment">
            <h3 class="ui header">{% link 'day5_index.html' %}</h3>

            <p></p>
            <ul>
                <li>
                    TBD
                </li>
            </ul>
        </div>

        <div class="ui segment">

            <h3 class="ui header">{% link 'install.html' %}</h3>

            <ul>
                <li>How to install the software used in the bootcamp</li>
            </ul>

        </div>

        <div class="ui segment">
            <h3 class="ui header">{% link 'info.html' %}</h3>

            <p>Course location, hours, requirements</p>

            <ul>
                <li>
                    Boot camp will be held Jun 6-10; 9-5PM in 011 Life Science Building
                </li>
                <li>
                    Breakfasts and lunches are planned. Participants are on their own for
                    most dinners.
                </li>
            </ul>
        </div>

        <div class="ui segment">
            <h3 class="ui header">Funding and Support</h3>

            <p>The bootcamp is funded by the

                <a href="http://grants.nih.gov/grants/guide/pa-files/PA-15-136.html">Administrative
                    Supplement to NIGMS Predoctoral Training Grants (PA-15-136)</a>
            </p>

            <p>
                The boot camp is organized by the
                <a href="https://www.huck.psu.edu/content/graduate-programs/computation-bioinformatics-statistics">Computation,
                    Bioinformatics and Statistics Predoctoral Training Program at Penn State</a>
                    supported by the NIH T32 program.
            </p>
        </div>
    </div>


{% endblock %}
