{# name = General Information #}
{% extends "base.html" %}

{% block body %}



    <h2 class="ui center aligned icon header">
        <i class="info circle icon"></i>
        General Information
    </h2>

    <h4 class="ui horizontal divider header">
        BOOTCAMP INFORMATION
    </h4>

{% markdown %}

Organizers:

* Dr. Cooduvalli Shashikant, Co-Director, Bioinformatics and Genomics Program Option: `css13@psu.edu`
* Dr. Naomi Altman, Professor of Statistics: `nsa1@psu.edu`
* Dr. Anton Nekrutenko, Professor of Biochemistry and Molecular Biology: `anton@bx.psu.edu`
* Dr. Istvan Albert, Professor of Bioinformatics: `iua1@psu.edu`
* Dana Coval-Dinant, Graduate Program Coordinator: dmc6@psu.edu

Location:

1. June 6-10th, 011 Life Sciences Building.
2. Breakfasts and lunches are planned. Participants are on their own for most dinners.
3. All participants need to bring a laptop.

{%  endmarkdown %}

    <h4 class="ui horizontal divider header">
        HOW TO GENERATE THE SITE
    </h4>

    {% include_markdown "README.md" %}

{% endblock %}
