{% extends "2016-base.html" %}

{% block body %}


    <h2 class="ui center aligned icon header">

        <i class="calendar icon"></i>

        Day 5: Summaries and Reviews
    </h2>


    <h4 class="ui horizontal teal divider">

        <a class="ui teal label" name="schedule" href="#schedule">SCHEDULE</a>
    </h4>


    <ul>
        <li>8:45 - 9:00 - Coffee and light breakfast</li>
        <li>9:00 - 10:30 - TBD</li>
        <li>10:30 - 11:00 - Coffee break</li>
        <li>11:00 - 11:45 - TBD</li>
        <li>12:00 - 1:30 - Lunch</li>
        <li>1:30 - 3:00 - TBD</li>
    </ul>


    <h4 class="ui horizontal teal divider">

        <a class="ui teal label" name="materials" href="#materials">MATERIALS</a>
    </h4>


    <p>TODO</p>





{% endblock %}
