{% extends "2016-base.html" %}

{% block body %}

    

    <h2 class="ui center aligned icon header">
    
        <i class="calendar icon"></i>
    
    Day 3: Statistical Analysis 
</h2>


    <h4 class="ui horizontal teal divider">
    
     <a class="ui teal label" name="schedule" href="#schedule">SCHEDULE</a>
</h4>


    <ul>
<li>8:45 - 9:00 - Coffee and light breakfast</li>
<li>9:00 - 10:30 - Workshop by <strong>Dr. Naomi Altman</strong>, Professor of Statistics</li>
<li>10:30 - 11:00 - Coffee break</li>
<li>11:00 - 11:45 - Workshop (continued)</li>
<li>12:00 - 1:30 - Lunch</li>
<li>1:30 - 3:00 - Workshop (continued)</li>
<li>3:00 - 3:30 - Coffee break</li>
<li>3:30 - 5:00 - Workshop (continued)</li>
</ul>


    <h4 class="ui horizontal teal divider">
    
     <a class="ui teal label" name="materials" href="#materials">MATERIALS</a>
</h4>


    <h2>Lecture and Practice</h2>
<p>Markdown files can be rendered as html:</p>
<ul>
<li><a href="docs/Intro.html">Introduction: Reproducible Statistical Inference</a> as slides and as <a href="docs/Intro.Rmd">Intro as markdown</a></li>
<li><a href="docs/R_lab_1.html">R Lab 1</a> as HTML slides, the source in <a href="docs/R_lab_1.Rmd">R Lab 1 markdown</a></li>
<li><a href="docs/R_lab_2.html">R Lab 2</a> as HTML slides, the source in <a href="docs/R_lab_2.Rmd">R Lab 2 markdown</a></li>
<li><a href="docs/Simulation1.html">Simulation</a> as HTML and the source <a href="docs/Simulation1.Rmd">simulation R markdown</a></li>
</ul>
<p>RNA-Seq data analysis:</p>
<ul>
<li><a href="docs/BootstrapRNAseq.html">Boostrap RNA Seq</a> as HTML slides, the source in <a href="docs/BootstrapRNAseq.Rmd">R markdown</a></li>
</ul>
<p>PSU BOX with all content:</p>
<ul>
<li><a href="https://psu.app.box.com/s/fglpj9t7md9x65c5ww17gpyo0ynrj14t">Simulation Using R - all documents</a>  by Naomi Altman</li>
</ul>


{% endblock %}
