{% extends "2016-base.html" %}

{% block body %}


    <h2 class="ui center aligned icon header">

        <i class="calendar icon"></i>

        Day 1: Perspectives on Data Reproducibility
    </h2>


    <h4 class="ui horizontal teal divider">

        <a class="ui teal label" name="schedule" href="#schedule">SCHEDULE</a>
    </h4>


    <ul>
        <li>8:45 - 9:00 - Coffee and light breakfast</li>
        <li>9:00 - 9:45 - Introductions and opening remarks by <strong>Dr. Cooduvali Shashikant</strong></li>
        <li>9:45 - 9:55 - Lecture by <strong>Dr. Frank Pugh</strong></li>
        <li>9:45 - 10:30 - Lecture by <strong>Dr. Ross Hardison</strong></li>
        <li>10:30 - 11:00 - Coffee break</li>
        <li>11:00 - 11:45 - Lecture by <strong>Dr. Qunhua Li</strong></li>
        <li>12:00 - 1:30 - Lunch (provided)</li>
        <li>1:30 - 2:15 - Lecture by <strong>Dr. George Perry</strong></li>
        <li>2:15 - 3:00 - Lecture by <strong>Dr. James Broach</strong></li>
        <li>3:00 - 3:30 - Coffee break</li>
        <li>3:30 - 4:15 - Watch the Baggerly video</li>
        <li>4:15 - 5:00 - Software review and installation</li>
        <li>6:00 - 7:30 - Dinner (not provided)</li>
        <li>7:30 - 9:00 - R tutorials by <strong>Dr. Naomi Altman</strong></li>
    </ul>


    <h4 class="ui horizontal teal divider">

        <a class="ui teal label" name="materials" href="#materials">MATERIALS</a>
    </h4>


    <h2>Presentations</h2>
    <ol>
        <li><a href="docs/shashikant-introduction.pdf">Introduction to the PSU BootCamp</a>
            by Dr. Cooduvalli Shashikant
        </li>
        <li><a href="docs/ross-hardison-it-can-happen-to-you.pdf">It can happen to you. Sources and proximity of lack of
            reproducibility</a>
            by Dr. Ross Hardison
        </li>
        <li><a href="docs/qunhua-li-statistical-issues.pdf">Statistical issues in reproducible research </a>
            by Dr. Qunhua Li
        </li>
        <li><a href="docs/george-perry-data-management.pdf">Data management / archiving across the biological
            sciences</a>
            by Dr. George Perry
        </li>
    </ol>
    <h2>Publications</h2>
    <ol>
        <li><a href="http://www.nature.com/news/reproducibility-1.17552">Challenges in irreproducibile research</a> a
            special section in Nature
        </li>
        <li><a href="http://www.nature.com/news/1-500-scientists-lift-the-lid-on-reproducibility-1.19970">Is there a
            reproducibility crisis?</a> in Nature, 2016
        </li>
        <li><a href="http://journals.plos.org/plosmedicine/article?id=10.1371/journal.pmed.0020124">Why Most Published
            Research Findings Are False</a> in PLOS Medicine, 2005
        </li>
        <li><a href="http://science.sciencemag.org/content/334/6060/1230">Improving Validation Practices in ''Omics''
            Research</a> in Science, 2011
        </li>
        <li><a href="http://www.nature.com/nature/journal/v497/n7450/full/497433a.html">Six red flags for suspect
            work</a> in Nature, 2013
        </li>
        <li><a href="http://www.nature.com/nature/journal/v483/n7391/full/483531a.html">Raise the standard for
            preclinical cancer research</a> in Nature, 2012
        </li>
    </ol>
    <h2>Videos</h2>
    <ol>
        <li>
            <p><a href="http://videolectures.net/cancerbioinformatics2010_baggerly_irrh">The Importance of Reproducible
                Research
                in High-Throughput Biology: Case Studies in Forensic Bioinformatics</a> by Keith Baggerly, UT M.D.
                Anderson Cancer Center, 2010</p>
        </li>
        <li>
            <p><a href="https://psu.app.box.com/s/qudhqftt9dr2nveolfs4coo3122cpnfd">Intro R Videos</a> by Naomi Altman,
                Penn State, 2016</p>
        </li>
    </ol>


    <h4 class="ui horizontal teal divider">

        <a class="ui teal label" name="practice" href="#practice">PRACTICE</a>
    </h4>


    <ul>
        <li><a href="/install.html">Install the required software</a></li>
        <li>Get to know thy neighbor</li>
    </ul>


{% endblock %}
